**/.DS_Store
**/*.pyc
**/__pycache__/
# pixi environments
pixi.toml
.pixi/
.vscode/
.github/
.envrc
.coverage
coverage.xml
pixi.lock
assets/
build/
dist/
docs/
examples/
tests/
archive/
src/geoh5vista.egg-info/
# pixi environments
.pixi/*
!.pixi/config.toml
